.answers {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40vw;
  align-items: center;
}
html {
  background-color: #bdc3c7;
}
#answer1,
#answer4,
#answer3,
#answer2 {
  padding: 2%;
  margin: 2%;
  width: 20vw;
  height: 4vw;
}
#answer1:hover,
#answer4:hover,
#answer3:hover,
#answer2:hover {
  background-color: rgb(49, 143, 143);
}
.quizSelection {
  background-color: white;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: space-around;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quizSelection button {
  color: black;
  background-color: #e74c3c;
  height: 4vw;
  width: 5vw;
  border-radius: 10%;
  font-size: 1.7vw;
  opacity: 0.9;
}
.quizSelection button:hover {
  opacity: 1;
}

#quizPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restarth1 {
  font-size: 4vw;
  color: #8e44ad;
}
.restartp {
  font-size: 3vw;
  color: #9b59b6;
}
.restartbu {
  width: 10vw;
  height: 3vw;
  background-color: #fd79a8;
  color: #e84393;
  font-size: 2vw;
  border-radius: 2vw;
}
